body{
	padding-top:42px;
	overflow-x:hidden;
}

.top-margin{
	margin-top: 42px;
}

.top-margin-little{
	margin-top: 10px;
}


.margensuperior{
	padding-top:50px;
}
.notif{
	background-color:transparent;
	color: whitesmoke;
	line-height: 42px;
	font-size: 20px;
	margin-right: 10px;
}

.notif:hover{
	color: green;
	cursor: pointer;
}

.btn-makesmall{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding: 0;
	width: 60px;
}

.little-right{
	margin-left: 5px;
}

.medium-right{
	margin-left: 10px;
}

.high-right{
	margin-left: 15px;
}


.scrollable-table{

	overflow-y: scroll;
	height: 200px;

}

.scrollable-table-perfilD{

	overflow-y: scroll;
	height: 272px;

}

.scrollable-table-perfilC{

	overflow-y: scroll;
	height: 600px;

}



.divAuto{ /*auto height*/
	width: 100%;
	height: auto;
	min-height: 100.8px;
	min-width: 200px;
	background-color: #F5F5F5;
	box-shadow: 2px 7px 15px -2px rgba(0, 0, 0, 0.75);
	border-radius: 10px 10px 10px 10px;
	padding: 1%;
	margin: 3% 0% 0% 0%;
}

.custom-panel-right-fixed {
	position:fixed;
	right:-20px;	
	margin-top:15px;
}

.peli{
	width: 100%;
}

.peli:hover{
	-webkit-filter: brightness(1.5);
	-moz-filter: brightness(1.5);
	-o-filter: brightness(1.5);
	-ms-filter: brightness(1.5);
	filter: brightness(1.5);
}


.publicacion{
	margin-bottom: 20px;
}

.inputpublicacion{
	position: absolute;
	bottom: 20px;
	left: 192px;
	width: 67%;
}

.vertical-peli-carousel{
	margin-bottom: 10px;
}

.text-left{
	text-align: left;
}

.inside-padding{
	padding-left: 5px;
	padding-right: 5px;
}

.table-publicaciones{
	height: 100px;
}
.table-publicaciones177{
	height: 177px;
}

.red{
	background-color: red;
}

.alertify-logs {
	top: 60px;
	left: 10px;

}

.boton-cuadrado{
	width: 35px;
}

#first{
	background: url(../img/parallax/bg3.png) 50% 0 repeat fixed;
	color: white;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;s
}

#second{
	background: url(../img/parallax/bg2.png) 50% 0 repeat fixed;
	color: white;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#index_body{
	background-color: whitesmoke;
}

.main-logo{
	height: 42px;
}

.text-color-black{
	color:black;
}

.dropdown-danger{
	background-color: #d9534f;
}

.text-color-red{
	color:#d9534f;
}

.text-weight-bold{
	font-weight: bold;
}

.clickable{
	cursor: pointer;
}

.footer{
	width: 100%;
	margin-bottom: 0px;
	background-color: #101112;
	height: 40px;
}

.align-right-footer{
	margin-left:301px;
}

.footer-fixed{
	position: fixed;
	bottom: 0;
}

.standard-div-height{
	height: 845px;
}

.eslogan{
	resize: none;
	font-size: 12px;
	padding: 2px;
	height: 100px !important;
	background-color: #95a5a6;
}

.list-no-deco{
	list-style: none;
}

.very-small{
	font-size: 8px;
}

.near-top{
	position:relative;
	top:-12px;
}

.tackle-right{
	margin-left: 9.3%;
}

.navbar{
	border-bottom:solid 1px; 
	border-color: #2c3e50;
}

.seccion{
	background-color: #2b3e50; 
	height: 300px;
	padding-top:20px;
	padding-bottom: 20px;
}

.seccion-small{
	background-color: #2b3e50; 
	height: 120px;
	padding-top:20px;
	padding-bottom: 20px;
}

.center-text{
	text-align: center;
}

.star-rating{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:250px;
  height:50px;
  overflow:hidden;
  position:relative;
  background:
      url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: 
        url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');  
    background-size: contain;
  }
  input{ 
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity: 0;
    display:inline-block;
    width: 20%;
    height: 100%; 
    margin:0;
    padding:0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;    
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}

//JUST COSMETIC STUFF FROM HERE ON. THESE AREN'T THE DROIDS YOU ARE LOOKING FOR: MOVE ALONG. 

//just styling for the number
.choice{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  text-align: center;
  padding: 20px;
  display:block;
}

//reset, center n shiz (don't mind this stuff)
*, ::after, ::before{
  height: 100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-align: center;  
  vertical-align: middle;
}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  &::before{
    height: 100%;
    content:'';
    width:0;
    background:red;
    vertical-align: middle;
    display:inline-block;
  }
}


