body{
	padding-top:50px;
}

#test{

	margin-top: 50px;
}


.top-margin{
	margin-top: 50px;
}

.margensuperior{
	padding-top:50px;
}
.btn-negro{
	margin-top:1px;
	background-color:transparent;
	color:#43bfab;
	border-color: #e2e2e2;
	outline: none;
}
.btn-makesmall{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding: 0;
	width: 60px;
}

.little-right{
	margin-left: 5px;
}

.scrollable-table{

    overflow-y: scroll;
    height: 200px;

}

 .custom-panel-right-fixed {
 	position:fixed;
 	right:0px;
 	margin-top:10px;
 }